@import "tailwindcss";



/* ===== THEME CONFIGURATION ===== */
/* Add custom tailwind styling here */
@theme {
  --breakpoint-3xl: 120rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-roboto-condensed: var(--font-roboto-condensed);
}



/* ===== CSS CUSTOM PROPERTIES / VARIABLES ===== */
:root {
  --background: #0A0A0A;
  /* --foreground: #171717; */
  --foreground: #C9C9C9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



/* ===== BASE STYLES ===== */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}



/* ===== ANIMATIONS / KEYFRAMES ===== */
@keyframes heroBgFadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heroTextFadeIn {
  from {
    opacity: 0;
    /* transform: translateY(-12px); */
  }

  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

@keyframes headerFadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    /* Start 20px higher */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* End at natural position */
  }
}

@keyframes backgroundPulse {

  0%,
  100% {
    filter: brightness(1) saturate(1);
  }

  50% {
    filter: brightness(1.15) saturate(1.2);
  }
}

@keyframes textGlowPulse {

  0%,
  100% {
    filter: drop-shadow(0 0 2px rgba(231, 231, 231, .5));
  }

  50% {
    filter: drop-shadow(0 0 3px rgba(231, 231, 231, .6)) drop-shadow(0 0 7px rgba(231, 231, 231, .2));
  }
}



/* ===== BACKGROUND ===== */
#background {
  z-index: -1;
  background-image: url("/background-hero.webp");
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  /* For animation on load */
  opacity: 0;
  animation: heroBgFadeIn 2s ease-out 500ms forwards, backgroundPulse 7s ease-in-out infinite 2.5s;
}

/* Divider with fade */
.bg-fade {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0), rgba(10, 10, 10, 1));
}



/* ===== HERO CONTENT ===== */
.hero-h1,
.hero-h2,
.hero-button {
  opacity: 0;
}

.hero-h1 {
  animation: heroTextFadeIn 2s ease-out 1400ms forwards, textGlowPulse 7s ease-in-out infinite 2s;
}

.hero-h2 {
  animation: heroTextFadeIn 2s ease-out 1700ms forwards;
}

.hero-button {
  animation: heroTextFadeIn 2s ease-out 2000ms forwards;
}



/* ===== HEADER CONTENT ===== */
.header-animation {
  opacity: 0;
  animation: headerFadeInDown 1.5s ease-out 500ms forwards;
}



/* ===== BANNER CONTENT ===== */
#banner {
  z-index: 1;
  background-image: url("/background-banner-extend.webp");
  background-size: 1200px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (max-width: 1023px) {
  #banner {
    background-size: 970px;
  }
}

@media (max-width: 639px) {
  #banner {
    background-size: 590px;
    background-attachment: local;
  }
}



/* ===== BANNER TEXT REVEAL ===== */
[data-aos="reveal-text"] {
  position: relative;
}

[data-aos="reveal-text"]::after {
  content: "";
  position: absolute;
  top: -2px;
  right: 0;
  width: 100%;
  height: calc(100% + 2px);
  background: #0A0A0A;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

[data-aos='reveal-text'].aos-animate::after {
  transform: translateX(100%);
}

.reveal-delay-1::after {
  transition-delay: 500ms;
}

.reveal-delay-2::after {
  transition-delay: 800ms;
}

.reveal-delay-3::after {
  transition-delay: 1200ms;
}



/* ===== GRADIENT TEXT ===== */
.gradient-text-reverse {
  background-image: linear-gradient(to right, #6FB3FD, #8E40E6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  height: 85px;
}